<div class="error">
  <span class="error-content">
		<div>
			<i class="fa fa-exclamation-triangle fa-4x text-danger"></i>
		</div>
		<h3 class="text-danger text-bolder">{{response.status}} {{response.statusText}}</h3>
		<p class="small">{{response.responseText.error}}</p>
	</span>
</div>
