<td class="error" colspan="{{colspan}}">
  <span class="error-content">
  	<div>
  		<i class="fa fa-exclamation-triangle fa-5x text-danger"></i>
  	</div>
  	<h3 class="text-danger text-bolder">{{response.responseText.error}}</h3>
  	<p>{{response.status}} {{response.statusText}}</p>
	</span>
</td>
