<td class="loading" colspan="{{colspan}}">
  <span class="loading-content">
		<i class="fa fa-spinner fa-spin fa-3x"/></i>
		{{#if message}}
			<p class="message">{{message}}</p>
		{{/if}}
	</span>
</td>
