<header class="navbar navbar-default" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand"><span class="glyphicon glyphicon-off"></span>  CI Technical Test</a>
    </div>
  </div>
</header>

<div id="region-content" class="container"></div>